set_io clock_12 35

set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

set_io VGA_CK 38
set_io VGA_DE 32
set_io VGA_HS 31
set_io VGA_VS 28
set_io VGA_B[3] 43
set_io VGA_B[2] 42
set_io VGA_B[1] 36
set_io VGA_B[0] 34
set_io VGA_G[3] 47
set_io VGA_G[2] 46
set_io VGA_G[1] 45
set_io VGA_G[0] 44
set_io VGA_R[3] 4
set_io VGA_R[2] 3
set_io VGA_R[1] 2
set_io VGA_R[0] 48

#set_io -nowarn AUDIO_O 19
#set_io joy_strobe 25
#set_io joy_clock 27
#set_io joy_data 21

set_io flash_wp_n 12
set_io flash_hold_n 13
set_io flash_sck 15
set_io flash_csn 16
set_io flash_mosi 14
set_io flash_miso 17



# PMOD 2
set_io -nowarn P2_1       27
set_io -nowarn P2_2       25
set_io -nowarn P2_3       21
set_io -nowarn P2_4       19
set_io -nowarn P2_7       26
set_io -nowarn P2_8       23
set_io -nowarn P2_9       20
set_io -nowarn P2_10      18

# LEDs and Buttons (PMOD 2)
set_io -nowarn LED[0]       26
set_io -nowarn LED[1]       27
set_io -nowarn LED[2]       25
set_io -nowarn LED[3]       23
set_io -nowarn LED[4]       21
set_io -nowarn BTN1       20
set_io -nowarn BTN2       19
set_io -nowarn BTN3       18

set_io buttons 10

set_io UART_RX 6
set_io UART_TX 9